<script>


const colorSelect =

document.getElementById("colorSelect");


const colorPreview =

document.getElementById("colorPreview");



const washSelect =

document.getElementById("washSelect");


const packageInfo =

document.getElementById("packageInfo");






const colorMap = {


"Black":

"#080808",


"White":

"#eeeeee",


"Red":

"#c00000",


"Blue":

"#0047ab"


};







function updateColor(){


let selected =

colorSelect.value;



colorPreview.style.background =

colorMap[selected];


}








const packages = {


"Basic Wash":

`
✔ Exterior foam wash
<br>
✔ Drying
<br>
✔ Tyre shine
`,


"Premium Wash":

`
✔ Exterior wash
<br>
✔ Interior vacuum
<br>
✔ Dashboard cleaning
<br>
✔ Tyre shine
`,


"Full Detail":

`
✔ Deep exterior cleaning
<br>
✔ Interior detailing
<br>
✔ Leather treatment
<br>
✔ Glass polishing
<br>
✔ Complete finishing
`


};







function updatePackage(){


let selected =

washSelect.value;



packageInfo.innerHTML =

packages[selected];


}






colorSelect.addEventListener(

"change",

updateColor

);




washSelect.addEventListener(

"change",

updatePackage

);





updateColor();

updatePackage();



</script>
