<script>


const carSelect =
document.getElementById("carSelect");


const colorSelect =
document.getElementById("colorSelect");


const carPreview =
document.getElementById("carPreview");


const colorLayer =
document.getElementById("colorLayer");




const colorMap = {


    "Black":
    "#080808",


    "White":
    "#eeeeee",


    "Red":
    "#b30000",


    "Blue":
    "#0047ab"


};






function updatePreview(){


    let car = carSelect.value;


    let color = colorSelect.value;




    // Change car image


    if(car === "MPV"){


        carPreview.src =
        "{{ url_for('static', filename='cars/mpv.png') }}";


    }

    else {


        carPreview.src =
        "{{ url_for('static', filename='cars/sedan.png') }}";


    }





    // Apply paint color


    colorLayer.style.backgroundColor =

    colorMap[color];



}






carSelect.addEventListener(

"change",

updatePreview

);






colorSelect.addEventListener(

"change",

updatePreview

);






updatePreview();





</script>
